/**********header nav-menu**********/
/* .header-group__logout{
    color: var(--font-color-secondary);
    transition: all .15s;
    margin-right: 10px;
}
.header-group__logout:hover{
    color: #fff;
}
.header--type2 .header-group__logout:hover{
    color: var(--font-color-main);
} */
.nav-list {
  padding: 0 20px;
}
.portfolio-total__quantity {
  font-size: 24px;
}

.orderbook-tr {
  cursor: pointer;
}
.orderbook-tr:hover {
  background: #fafafa;
}
/*  -- fiat deposit history table -- */
.grid-add-column {
  grid-template-columns: 0.9fr 0.95fr 1fr 1.15fr 1fr 1fr !important;
}
.grid-add-column .td {
  overflow-y: auto;
  scrollbar-color: #d0d0d0 transparent;
  scrollbar-width: thin;
}
.grid-add-column .td:first-child .table-value {
    white-space: nowrap;
  }
.grid-add-column .td::-webkit-scrollbar {
  height: 6px;
}

.grid-add-column .td::-webkit-scrollbar-thumb {
  background: #d0d0d0;
  border-radius: 9em;
}

.grid-add-column .td::-webkit-scrollbar-track {
  background: transparent;
  border: 1px solid #d0d0d0;
}
@media screen and (max-width: 1024px) {
  /* .header-group__logout{
    margin-top: 26px;
 } */
  .portfolio-total {
    text-align: center;
  }
  .nav-list {
    padding: 0 0 40px;
  }
}


 .table--open-orders-sl.newtab .tr {
  display: grid;
  grid-template-columns: 140px 140px 140px 140px 140px 140px 140px !important;
} 

