.investment-form .field-wrap .date {
  background: #fff;
  border-color: var(--border-color-main);
  height: 44px;
  border: 1px solid var(--input-border-color);
  border-radius: 10px;
  color: black;
}
.investment-form .field-wrap .react-datepicker__input-container {
  height: 44px;
  border: none;
}

.investment-form .react-datepicker__input-container {
  border: none;
}

.investment-form .field-wrap .date.error {
  border-color: #f00;
}
